%br/
.container
  .row
    .col-sm-3
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = @user.name
        .panel-body
          .row
            .col-sm-12
              = profile_image_for(@user)
          %br
          .row
            .col-sm-12
              %h5
                = @user.email
          .row
            .col-sm-12
              %h5
                member since:
                = @user.created_at.strftime("%b %d %Y")
          .row
            .col-sm-12
              = link_to 'Edit', edit_user_path(@user), class: "btn btn-default"
              = link_to 'Log out', sign_out_path, class: "btn btn-default"

    .col-sm-3
