%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Project Name", root_path, class: "navbar-brand"
    #navbar.navbar-collapse.collapse
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          -#%li
            -#%a{:href => "#"} Link
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = @user.name
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to '<i class="glyphicon glyphicon-log-out"></i> Sign Out'.html_safe, sign_out_path
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Separated link
      - else
        = link_to "Sign Up", register_path, class: "btn btn-primary navbar-btn navbar-right btn-margin-left"
        = link_to "Sign In", sign_in_path, class: "btn btn-primary navbar-btn navbar-right btn-margin-right"
